/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */

.flex{
    display: flex;
}

.bordered{
    border: 1px dashed black;
}

/* MAIN */

.container_main{
    width: 100vw;
    height: 90vh;
}

/* SIDEBAR */

.container_sidebar{
    width: 20%;
    background-color: green;
    position: relative;
}

/* LOGO */

.logo{
    height: 10%;
}

/* HOME */

.container_home .logo_home{
    width: 40px;
    height: 40px;
}

/* CREA PLAYLIST */

.container_crea .logo_crea{
    width: 40px;
    height: 40px;
}

/* NOME PLAYLIST */

/* INSTALLA - PROFILO */

.container_profile{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container_profile .logo_install{
    width: 40px;
    height: 40px;
}

.container_profile .logo_profile{
    width: 40px;
    height: 40px;
}








/* CONTAINER MUSIC */

.container_music{
    width: 80%;
    background-color: orange;
    overflow-y: scroll;
}

/* CONTAINER UPGRADE */

.container_music .container_upgrade{
    height: 10%;
    background-color: rgb(194, 107, 185);
    justify-content: end;
    align-items: center;
}

/* MENU CENTRALE ALTO */

.container_music .container_menu{
    justify-content: center;
}

.container_music .container_menu > div{
    padding: 10px;
}

/* MENU MUSICA */

/* RECENTLY PLAYED */

.container_recently{
    justify-content: space-between;
    gap: 10px;
}

.container_recently .card {
    width: calc(100% / 6);
}

.card .img_card img{
    width: 100%;
}

.card .info_card{
    text-align: center;
}


/* CREATO PER JOHN DOE */


.container_created, .container_popular{
    gap: 10px;
}

.container_created .card, .container_popular .card{
    width: calc((100% / 6) - 10px);
}









/* FOOTER */

.container_footer{
    width: 100vw;
    height: 10vh;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 30;
}