/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */

body{
    font-family: 'Nerko One', cursive;
}

.flex{
    display: flex;
}

.bordered{
    /* border: 1px dashed white; */
}

.text_center{
    align-items: center;
    display: inline-flex;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

li{
    list-style: none;
}

h2, h3{
    color: var(--primary-color);
}

:root {
    --primary-color: white;
    --secondary-color: grey;
}

/* MAIN */

.container_main{
    width: 100%;
    height: calc(100vh - 100px);
}

/* SIDEBAR */

.container_sidebar{
    width: 250px;
    height: 100%;
    min-height: 500px;
    background-color: #000000;
    padding: 0 15px;
}

.sidebar_top{
    height: calc(100% - 100px);
}

/* LOGO */

.logo{
    display: flex;
    align-items: center;
    height: 80px;
}

.logo img{
    width: 60%;
}

.logo .logo_small{
    display: none;
}

/* HOME */

.container_home .logo_home{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    padding-right: 5px;
}

.container_home a{
    color: var(--secondary-color);
}

/* CREA PLAYLIST */

.container_crea h3{
    padding: 10px 0 5px 0;
}

.container_crea .logo_crea{
    margin-right: 5px;
}

.container_crea .logo_crea i{
    font-size: 3em;
    color: var(--secondary-color);
}

/* NOME PLAYLIST */

.name_playlist li{
    padding: 7px 0;
}

.name_playlist a{
    color: var(--secondary-color);
}

/* INSTALLA - PROFILO */

.sidebar_bottom{
    height: 100px;
    background: black;
    position: sticky;
}

.sidebar_bottom .container_profile{
    display: initial;
}

.sidebar_bottom .install_app{
    padding-bottom: 5px;
}

.sidebar_bottom .logo_app{
    padding-top: 10px;
    border-top: 1px solid gray;
}

.container_profile .logo_install{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.container_profile .logo_profile{
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.logo_install img{
    filter: grayscale(100%);
}

.container_profile .logo_profile img{
    /*FARE IMMAGINE CIRCOLARE */
}





/* CONTAINER MUSIC */

.container_music{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow-y: scroll;
}

section{
    padding: 0 15px;
}

.subtitle_album{
    color: var(--secondary-color);
}

/* CONTAINER UPGRADE */

.container_music .container_upgrade{
    background-color: #080f1e;
    text-align: right;
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 25;
    height: 80px;
}

.button_upgrade a{
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 5px;
}

/* MENU CENTRALE ALTO */

.container_music .container_menu{
    justify-content: center;
}

.container_music .container_menu > div{
    padding: 10px;
}

.container_music .container_menu > div a{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 0.7em;
}

/* MENU MUSICA */

/* RECENTLY PLAYED - CREATO PER JOHN DOE - ARTISTI PIU' POPOLARI */

.container_recently{
    justify-content: space-between;
}

.container_recently .card, .container_created .card, .container_popular .card {
    width: calc((100% / 6) - 10px);
    margin-right: 10px;
}

.card .img_card img{
    width: 100%;
}

.card .info_card{
    text-align: center;
}

.container_music .title{
    padding: 20px 0;
}

.container_music h3{
    padding: 10px 0 5px 0;
}





/* FOOTER */

.container_footer{
    width: 100vw;
    height: 100px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 30;
    justify-content: space-between;
}

.col_left, .col_central, .col_right{
    height: 100%;
}

.col_left, .col_right{
    width: 20%;
}

.col_central{
    width: 60%;
}

.container_footer .col_left{
    justify-content: space-between;
    align-items: center;
}

.container_footer .logo_music{
    width: 50px;
    height: 50px;
    margin: 0 7px;
}

.container_footer .logo_music img{
    width: 100%;
}

.container_footer .name_music{
    width: max-content;
}

.col_left h4{
    margin-bottom: -5px;
}

.col_left .like{
    margin: 0 7px;
    font-size: 1.2em;
}

.col_central .container_play, .col_central .container_bar{
    justify-content: center;
    align-items: center;

}

.container_footer .col_central .container_bar .bar{
    width: 400px;
    height: 5px;
    background-color: gray;
    border-radius: 25px;
}

.container_footer .container_play{
    padding: 7px 0 0 0;
}

.container_play a{
    font-size: 1.3em;
    margin: 0 15px;
}

#icon_play{
    font-size: 1.9em;
}

.container_bar a{
    margin: 0 20px;
}

.container_bar span{
    font-size: 0.8em;
}

.container_footer .col_right .bar_small{
    width: 150px;
    height: 5px;
    background-color: gray;
    border-radius: 25px;
}

.container_footer .col_right{
    justify-content: end;
    align-items: center;
}

.container_footer .col_right a{
    margin: 0 7px;
}


/* MEDIA QUARY */

/* 1100PX */

@media screen and (max-width: 1100px) {

    .container_recently {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .container_recently .card, .container_created .card, .container_popular .card {
        width: calc((100% / 4) - 10px);
        margin-bottom: 10px;
    }

    .col_left .container_like{
        margin-left: 50px;
    }

    .container_footer .col_central .container_bar .bar{
        width: 250px;
    }

    .container_music .container_menu > div a {
        font-size: 1em;
    }

}

/* 800PX */

@media screen and (max-width: 800px) {

    .container_recently .card, .container_created .card, .container_popular .card {
        width: calc((100% / 2) - 10px);
        margin-bottom: 10px;
    }

    .container_music .container_menu {
        flex-wrap: wrap;
    }

    .container_music .container_menu > div a {
        font-size: 1.2em;
    }

    .col_left .container_like{
        display: block;
        margin-left: 50px;
    }

    .container_footer .col_central .container_bar .bar{
        width: 150px;
    }
    
}

/* 600PX */

@media screen and (max-width: 600px) {

    .container_footer .name_music {
        width: min-content;
    }

    .col_left .container_like{
        display: block;
        margin-left: 10px;
    }

    .container_footer .col_central .container_bar .bar{
        width: 150px;
    }
    
    .container_footer .col_right .bar_small{
        width: 80px;
    }

    .container_footer .col_right a {
        margin: 0 5px;
    }

    .logo .logo_small{
        display: block;
    }

    .logo .logo_big{
        display: none;
    }

    .container_sidebar{
        width: 50px;
        padding: 0;
    }

    .container_music{
        width: calc(100% - 50px);
    }

    .logo {
        height: min-content;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 5px 0;
    }

    .none, .container_crea, .name_playlist{
        display: none;
    }

    .container_home{
        text-align: center;
    }

    .sidebar_bottom{
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .sidebar_bottom .container_profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container_profile .logo_install, .container_profile .logo_profile {
        margin-right: 0;
    }

    .sidebar_bottom .logo_app {
        border-top: none;
    }
}